@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

html,
body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
  margin: 0;
}
.main {
  display: flex;
}
.content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.main navbar {
  order: -1;
  flex: 0 0 10vw;
  min-height: 100vh;
}
header,
content,
nav {
  padding: 1em;
}
header {
  height: 20vh;
}

.resident {
  color: black;
}

.resident .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.resident:hover > .tooltiptext {
  visibility: visible;
}
